<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Description</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Category</th>
</tr>
<% data.forEach(function (item) { %>
<tr>
  <td><%- item.id %></td>
  <td><%- item.name %></td>
  <td><%- item.description %></td>
  <td><%- item.price %></td>
  <td><%- item.quantity %></td>
  <td><%- item.category %></td>
  <td>
    <form action="/delete/<%- item.id %>" method="POST">
      <button type="submit">Delete</button>
    </form>
  </td>
</tr>
<% }) %>
