<div class="input-header">
  <% if (content.name === 'product') { %>
  <form action="/dashboard/product-search" method="post">
    <input
      type="text"
      placeholder="Name"
      name="name"
      value="<%- content.query.name %>"
    />

    <textarea name="description" id="description" placeholder="Description"><%- content.query.description %></textarea
    >

    <input type="number" name="price" placeholder="Price" value = "<%- content.query.price %>"/>

    <input type="number" name="quantity" placeholder="Quantity" value = "<%- content.query.quantity %>"/>

    <select name="category_id" id="category">
      <option value="" selected disabled>Select a category</option>
      <% content.category.forEach(function (category) { %>
        <option value="<%- category.id %>" 
          <% if (String(category.id) === String(content.query.category_id)) { %> 
            selected 
          <% } %>>
          <%- category.category %>
        </option>
      <% }) %>
    </select>
    <select name="filter" id="filter">
      <option value="exact-match">Exact match</option>
      <option value="any-match">Any match</option>
    </select>
    <button type="submit">Search</button>
  </form>
  <button><a href="/dashboard/product/add-product">Add Product</a></button>
  <% } else { %>
  <form action="/dashboard/category-search" method="post">
    <input type="text" name="query" id="query" />
    <button type="submit">Search</button>
  </form>
  <button><a href="/dashboard/category/add-category">Add Category</a></button>
  <% } %>
</div>

<table class="main-table">
  <% if (content.name === 'product') { %> <%- include('../partials/showProduct',
  { data: content.data }) %> <% } else { %> <%-
  include('../partials/showCategory', { data: content.data }) %> <% } %>
</table>
